<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/a6759275-4ff2-4eaa-aa16-7c1a481e16ed/resourceGroups/SubhSankalpGroup/providers/Microsoft.ApiManagement/service/Subh-sankalp-backend-new/apis/Subh-sankalp-estate-new</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/a6759275-4ff2-4eaa-aa16-7c1a481e16ed/resourceGroups/SubhSankalpGroup/providers/Microsoft.Web/sites/subhsankalp-backend-new</ResourceId>
    <ResourceGroup>SubhSankalpGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://subhsankalp-backend-new.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1617a7f5-5eb5-41c9-8186-5bc00202ac33</ProjectGuid>
    <PublishUrl>https://subhsankalp-backend-new.scm.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>